body{

margin:0;

font-family:sans-serif;

background:#f4f7fb;

}

.app-container{

display:flex;

height:100vh;

}

.sidebar{

width:260px;

background:#07111f;

color:white;

padding:25px;

display:flex;

flex-direction:column;

gap:18px;

}

.logo{

font-size:30px;

font-weight:bold;

margin-bottom:20px;

}

.menu-item{

display:flex;

align-items:center;

gap:12px;

padding:12px;

text-decoration:none;

color:white;

border-radius:10px;

}

.menu-item:hover{

background:#1b2d45;

}

.content-area{

flex:1;

display:flex;

flex-direction:column;

}

.topbar{

height:70px;

display:flex;

justify-content:flex-end;

align-items:center;

gap:40px;

padding:0 40px;

background:white;

box-shadow:0 1px 5px rgba(0,0,0,.1);

}

.page-container{

padding:40px;

overflow:auto;

}